.container-table-categorie{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.table-categorie{
    font-size: 18px;
    width: 90%;
}
.table-categorie thead{
    border-bottom-width: 1px
}
.table-categorie td{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-bottom: 1px solid rgba(205, 205, 205, 0.292);
}
.table-categorie tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.button-delete{
    color: #fff;
    background-color: red;
    border: transparent;
    font-size: 18px;
    padding: 0.5em;
    border-radius: 0.3em;
}
@media (max-width: 700px){
    .container-table-categorie{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .table-categorie{
        font-size: 13px;
        width: 90%;
    }
    .table-categorie thead{
        border-bottom-width: 1px
    }
    .table-categorie td{
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        border-bottom: 1px solid rgba(205, 205, 205, 0.292);
    }
    .table-categorie tr{
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
    .button-delete{
        color: #fff;
        background-color: red;
        border: transparent;
        font-size: 12px;
        padding: 0.5em;
        border-radius: 0.3em;
        
    }
}