.container-finish-shop{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-top: 1rem;
    gap:1.5rem;
    width: 100%;
}
.product-shop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
    border-bottom:1px solid rgba(0,0,0,.07);
}
.product-shop h6{
    width: 200px;
}
.product-shop img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.div-img-product-shop{
    height: 80px;
    width: 80px;
    border:3px solid #ededed;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
}
.shop-details-1{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;
    margin-top: 1.5rem;
    border-bottom:1px solid rgba(0,0,0,.07);
    padding-right: 2rem;
    
}
.shop-details-1 h6{
    font-size: 18px;
}

.shop-details-2{
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: flex-start;
    
}
.shop-details-2 p{
    font-size: 19px;
}
.shop-details-3{
    position: relative;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom: 1rem;
}
.button-more-details-shop{
    border-style: none; 
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    margin-bottom: 1rem;
}
.button-status-shop{
    background-color: #3483fa;
    color:white;
    border:transparent;
    height: 60px;
    width: 140px;
    margin-left: 1rem;
    border-radius: 0.5em;
    margin-right: 3rem;
}
.div-product-info-shop{
    display: flex;
    flex-direction: row;
    align-items:center;
}
@media (max-width: 700px){

    .container-finish-shop{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0.5rem;
        margin-top: 1rem;
        gap:1.5rem;
        width: 100%;
    }
    .product-shop{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap:2rem;
        border-bottom:1px solid rgba(0,0,0,.07);
    }
    .product-shop h6{
        width: 200px;
        font-size: 12px;
    }
    .product-shop img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .div-img-product-shop{
        height: 80px;
        width: 80px;
        border:3px solid #ededed;
        border-radius: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .shop-details-1{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:2rem;
        margin-top: 1.5rem;
        border-bottom:1px solid rgba(0,0,0,.07);
        padding-right: 2rem;
        
    }
    .shop-details-1 h6{
        font-size: 12px;
    }
    
    .shop-details-2{
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        gap:2rem;
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;
    }
    .shop-details-2 p{
        font-size: 16px;
    }
    .shop-details-3{
        position: relative;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        gap:2rem;
        margin-bottom: 1rem;
    }
    .button-more-details-shop{
        border-style: none; 
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
        width: 50%;
        cursor: pointer;
        background-color: transparent;
        align-items: center;
        margin-bottom: 1rem;
    }
    .button-status-shop{
        background-color: #3483fa;
        color:white;
        border:transparent;
        height: 30px;
        width: 150px;
        margin: auto;
        margin-bottom: 1rem;
        font-size: 12px;
        border-radius: 0.5em;
    }
    .div-product-info-shop{
        display: flex;
        flex-direction: column;
    }

}
