.container-cart{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:auto;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 1rem;

}
@media (max-width: 700px){
    .container-cart{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin:auto;
        background-color: #fff;
        margin-top: 1rem;
        border-radius: 1rem;
        flex-wrap: nowrap;
    
    }

}